In [0]:
CREATE KEYSPACE shops 
WITH replication = {
    'class': 'SimpleStrategy',
    'replication_factor': 1
};

In [1]:
USE shops;

CREATE TABLE products (
    product_id int PRIMARY KEY,
    name text,
    price float,
    category text,
    stock int
);

In [2]:
DESCRIBE TABLE products;

In [3]:
INSERT INTO products (product_id, name, price, category, stock) 
VALUES (1, 'Laptop', 357000, 'Electronics', 15);

INSERT INTO products (product_id, name, price, category, stock) 
VALUES (2, 'Smartphone', 109699, 'Electronics', 25);

INSERT INTO products (product_id, name, price, category, stock) 
VALUES (3, 'Desk Chair', 12570, 'Furniture', 8);

INSERT INTO products (product_id, name, price, category, stock) 
VALUES (4, 'Coffee cup', 199, 'Kitchen', 50);

In [4]:
SELECT *
FROM shops.products;

In [5]:
UPDATE products 
SET stock = 20 
WHERE product_id = 2;

In [6]:
SELECT *
FROM shops.products;